<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="xpay" version="1.0.0">
  <name>cordova-xpay</name>
  <js-module name="xpay" src="www/cordova-xpay.js">
    <clobbers target="cordova.plugins.cordova-xpay"/>
  </js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="cordova-xpay">
        <param name="android-package" value="xpay.cordova-xpay"/>
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml"/>
    <source-file src="src/android/cordova-xpay.java" target-dir="src/xpay/cordova-xpay"/>
  </platform>

  <!-- ios -->
  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="Xpay">
        <param name="ios-package" value="CDVXpay"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <!-- plugin source code -->
    <header-file src="src/ios/CDVXpay.h"/>
    <source-file src="src/ios/CDVXpay.m"/>

    <!-- Wechat Official  -->
    <header-file src="src/ios/libs/OpenSDK1.7.7/WXApi.h"/>
    <header-file src="src/ios/libs/OpenSDK1.7.7/WXApiObject.h"/>
    <source-file src="src/ios/libs/OpenSDK1.7.7/libWeChatSDK.a" />

    <!-- Other required frameworks -->
    <framework src="libz.dylib" />
    <framework src="libsqlite3.0.dylib" />
    <framework src="SystemConfiguration.framework" />
    <framework src="Security.framework" />
    <framework src="libstdc++.6.dylib" />
  </platform>
</plugin>