<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-xpay" version="1.0.0">
  <name>cordova-plugin-xpay</name>
  <js-module name="xpay" src="www/cordova-xpay.js">
    <clobbers target="xpay"/>
  </js-module>
  <platform name="android">
    <hook type="after_plugin_add" src="scripts/android-install.js" />
    <hook type="after_plugin_install" src="scripts/android-install.js" />
    <hook type="before_plugin_rm" src="scripts/android-install.js" />
    <hook type="before_plugin_uninstall" src="scripts/android-install.js" />
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="Xpay">
        <param name="android-package" value="cordova-plugin-Xpay"/>
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.INTERNET" />
      <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <activity
        android:name=".wxapi.WXPayEntryActivity"
        android:exported="true"
        android:launchMode="singleTop">
        <intent-filter>
          <action android:name="android.intent.action.VIEW"/>
          <category android:name="android.intent.category.DEFAULT"/>
          <data android:scheme="Anything"/>
        </intent-filter>
      </activity>
    </config-file>
    <source-file src="src/android/Xpay.java" target-dir="src/cordova/plugin"/>
    <source-file src="src/android/libammsdk.jar" target-dir="libs"/>
  </platform>

  <!-- ios -->
  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="Xpay">
        <param name="ios-package" value="CDVXpay"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <!-- plugin source code -->
    <header-file src="src/ios/CDVXpay.h"/>
    <source-file src="src/ios/CDVXpay.m"/>

    <!-- Wechat Official  -->
    <header-file src="src/ios/libs/OpenSDK1.7.7/WXApi.h"/>
    <header-file src="src/ios/libs/OpenSDK1.7.7/WXApiObject.h"/>
    <source-file src="src/ios/libs/OpenSDK1.7.7/libWeChatSDK.a" />

    <!-- Other required frameworks -->
    <framework src="libz.dylib" />
    <framework src="libsqlite3.0.dylib" />
    <framework src="SystemConfiguration.framework" />
    <framework src="Security.framework" />
    <framework src="libstdc++.6.dylib" />
  </platform>
</plugin>